# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
coverage.*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project output directory
output
# goreleaser output directory
dist

# generated docs directroy
jntpdn-docs
